body {
  padding: 0;
  margin: 0;

  overflow-x: hidden;
}

#chat-area {
  display: flex;
  height: 90vh;
  width: 100vw;

  flex-flow: column wrap;
}

textarea {
  border: 1px solid black;
  margin: 0;
  padding: 0;
}

#message-input {
  height: 9.8vh;
  width: 100vw;
}

.message-div {
  width: 100vw;
  word-wrap: break-word;
}
